---
import Navigation from '../components/Navigation.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Navigation></Navigation>
		<slot></slot>
	</body>
	<footer class="mb-8 text-center text-gray-600">
		<p>© 2025 Anthony Dvorsky. All Rights Reserved.</p>
	</footer>
</html>